<%= render partial: "global/header" %>

<section class="offers">
  <h4>Trade-in-offer</h4>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & up to 70% off!</p>
  <button>Shop Now</button>
</section>

<section class="features section-p1">
  <div class="feature_box">
    <%= image_tag "features/f1.png" %>
    <h6 class="free_shipping">Free Shipping</h6>
  </div>

  <div class="feature_box">
    <%= image_tag "features/f2.png" %>
      <h6 class="online_order">Online Order</h6>
  </div>

  <div class="feature_box">
    <%= image_tag "features/f3.png" %>
      <h6 class="save_money">Save Money</h6>
  </div>

  <div class="feature_box">
    <%= image_tag "features/f4.png" %>
      <h6 class="promotions">Promotions</h6>
  </div>

  <div class="feature_box">
    <%= image_tag "features/f5.png" %>
      <h6 class="happy_customers">Happy Customers</h6>
  </div>

  <div class="feature_box">
    <%= image_tag "features/f6.png" %>
      <h6 class="support">F24/7 Support</h6>
  </div>
</section>